.sect_title {
    h2 {
        font-weight: 600;
        font-size: 32px;
        color: $color-text;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        color: $light-gray;
    }
}