// Colors

$color-text: #0B1026;
$dark-text: #211F1F;
$main-color: #0E0B3D;
$btn-background: #211F1F;
$dark-color: #232128;
$green-text: #23BC88;
$green-light: #AEFFC8;
$green-background: #33BE91;
$green-gradient: linear-gradient(to right, #43D682, #8DF1BC);
$apricot-color: #FFB670;
$light-gray: #6F778B;
$davy-gray: #505666;
$columbia-blue: #94E0FC;
$apricot: #FFB670;
$bean-red: #F55353;
$sub-color: #445B78;
$light-sub: #A8B4C5;
$purple: #9278E5;
$dark-sub: #5A668A;

